name: Deploy API to Azure App Service

on:
  push:
    branches:
      - main
    paths:
      - "api/**"
      - ".github/workflows/deploy-api.yml"
  workflow_dispatch:

jobs:
  deploy-api:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Deploy API
        uses: azure/webapps-deploy@v3
        with:
          app-name: raraa
          publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE_API }}
          package: api
